<div class="centered-content">
    <div class="center-box">
        <div *ngIf="companyLogo">
            <img src={{companyLogo}}>
            <p *ngIf="companyTitle" class="name">{{companyTitle}}</p>
        </div>
        
        <div *ngIf="companyText">
            <p>{{companyText}}</p>
        </div>
        <div class="product-container" *ngFor="let product of our_products">
            <a class="product-listing" [routerLink]="['/products', product._id]" (click)="onProductClicked(product.title, product.image, product.price, product.body)">
                <img src={{product.image}}>
                <p>{{product.title}}</p>
                <p>{{product.body}}</p>
                <p>Starting at: {{product.price}}</p>
            </a>
        </div>
    </div>
</div>
